.main_body {
    background-color: #f8f9fa;
    /*height: 100vh;*/
}

.form_hr {
    margin-top: 0;
}

.form_header {
    /* font-weight: 700; */
    font-size: 18px;
    /*color: gray;*/
    color: #b1b1b1;
}

.detail_header {
    font-size: 18px;
    color: gray;
}

.detail_small {
    margin: 0;
    size: 10px;
    font-size: 13px;
    color: #b1b1b1 !important;
}

.detail_main {
    color: black;
    font-weight: 500;
}
