#sidebar {
    min-width: 300px;
    max-width: 300px;
    background: #1d1919;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -300px;
}

#sidebar .logo {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

#sidebar .logo span {
    display: block;
}

#sidebar ul.components {
    padding: 0;
}

#sidebar ul li {
    font-size: 16px;
}

#sidebar ul li > ul {
    margin-left: 10px;
}

#sidebar ul li > ul li {
    font-size: 14px;
}

#sidebar ul li a {
    padding: 10px 0;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar ul li a:hover {
    color: #f8b739;
}

#sidebar ul li.active > a {
    background: transparent;
    color: #f8b739;
}

@media (max-width: 991.98px) {
    #sidebar {
        margin-left: -300px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 991.98px) {
    #sidebarCollapse span {
        display: none;
    }
}

#content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn.btn-menu {
    background: #f8b739;
    border-color: #f8b739;
    color: white;
}

.btn.btn-menu:hover, .btn.btn-menu:focus {
    background: #f8b739 !important;
    border-color: #f8b739 !important;
}

.footer p {
    color: rgba(255, 255, 255, 0.5);
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*#sidebarCollapse span {*/
/*@include media-breakpoint-down(md){*/
/*    display: none;*/

/*}*/
/*}*/

@media (min-width: 768px) {
    #sidebarCollapse span {
        display: none;
    }
}